

/* Created by Pragya Tyagi */

@import url(https://fonts.googleapis.com/css?family=AllertaStencil:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
  }


section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
  }
  section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
  }
  


  #section03 { background: url(front2.jpg) center center / cover no-repeat;}
  #section04 { 
    background: url(background3.jpg) center center / cover no-repeat;
    height: 135%;
    width: 100%;
  }
  #section05 { 
    background: url(background3.jpg) center center / cover no-repeat;
    position: relative;
    top: 390px;
    height: 60%;
    width: 100%;
   
  }
.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }

#section03 a {
    padding-top: 60px;
  }
  #section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    
  }
  #section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  #section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
 


@media (max-width: 500px) {
  .container {
    text-align: center;
  }
}


#Projects {
  position: relative;
  top: 100px;
  left:700px;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
 animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  box-sizing: border-box;
  font-family: Courier, monospace;
display: inline-block;
}

.project1{
  width: 60%;
  margin: 0% 1.5% 3% 1.5%;
  background: #F5F5F5;
  padding: 15px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1.0);
  border: solid 1px rgb(204, 201, 201);
  position: absolute;
  left: 100px;
  top: 200px;
  font-family: Courier, monospace;
  
}

.project2{
  width: 60%;
  height: 20%;
  margin: 0% 1.5% 3% 1.5%;
  background: #F5F5F5;
  padding: 15px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1.0);
  border: solid 1px rgb(204, 201, 201);
  position: absolute;
  left: 500px;
  top: 400px;
  font-family: Courier, monospace;
  
}

.project3{
  width: 60%;
  height: 20%;
  margin: 0% 1.5% 3% 1.5%;
  background: #F5F5F5;
  padding: 15px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1.0);
  border: solid 1px rgb(204, 201, 201);
  position: absolute;
  left: 100px;
  top: 640px;
  font-family: Courier, monospace;
  
}

#skillset {
  position: relative;
  top: 100px;
  left:700px;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
 animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
  font-family: Courier, monospace;
display: inline-block;
}

#experience {
  position: relative;
  top: 100px;
  left:700px;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
 animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
  font-family: Courier, monospace;
display: inline-block;
}


.container-skill{
  display: flex;
  position: relative;
  top: 200px;
  
}
/* .javascript{
  height: 170px;
  width: 120px;
} */

.flip {
  border-radius: 50%;
  height: 199px;
  width: 230px;
  margin: 0 auto;
}
.flip img {
  width: 170px;
  height: 160px;
  position: relative;
  left: 40px;
  top: 25px;
}
.flip .back {
  border-radius: 50%;
  background: #F5F5F5;
  color: #fff;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1.0);
}

h3.javascript{
  position: relative;
  left: 20px;
  top:70px;
  color:black;
  font-size: 40px;
}

h3.cplus{
  position: relative;
  left: 20px;
  top:70px;
  color:black;
  font-size: 40px;
}

h3.python{
  position: relative;
  left: 20px;
  top:70px;
  color:black;
  font-size: 40px;
}

h3.react{
  position: relative;
  left: 20px;
  top:70px;
  color:black;
  font-size: 40px;
}

h3.mongo{
  position: relative;
  left: 20px;
  top:70px;
  color:black;
  font-size: 40px;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: white; 
  }
}


.info{
  position: relative;
  top: 500px;
  left: 750px;
}

.contact{
  height: 30%;
  width: 100%;
}
form{
  position: relative;
  top: 500px;
  left: 200px;
}


.picture{
  border-radius: 50%;
 
  height: 30%;
}

.project a{
  padding: 8px 8px;
  word-spacing: 30px;
}

.home a{
  padding: 8px 8px;
  word-spacing: 30px;
}
.main{
  width: 40%;
  height: 50%;
  position: relative;
  left: 150px;
  top: 170px;
  font-size: 20px;
}
.main1{
  width: 40%;
  height: 30%;
  position: relative;
  left: 150px;
  top: 170px;
  font-size: 20px;
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}
.header{
  color: white;
}
.header1{
  color: black;
}
.left{
  float: left;
  margin-right: 15px;
}
.right{
  float: left;
}

.right1{
  float: left;
  color: black;
}

img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}
.img1 {
  width: 80px;
  height: 80px;
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}

h3 {
  margin: 0px 0px 5px 0px;
}

h4 {
  margin: 0px 0px 5px 0px;
}

.content {
  float: left;
  width:100%;
  margin-bottom: 10px;
  color: white;
}

.content1 {
  float: left;
  width:100%;
  margin-bottom: 10px;
  color: black;
}



.row1{
  display: flex;
  position: relative;

  top: 200px;
}



.background{
  background:  url(background3.jpg) center center / cover no-repeat;
  height: 120vh;
}

.download_CV{
  background-color: pink;
  color: black;
  padding: 8px 8px;
  border: 2px solid rgb(87, 85, 85);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position: relative;
  top: 100px;
  left: 1000px;
}